<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css"
  integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/regular.min.css"
  integrity="sha512-aNH2ILn88yXgp/1dcFPt2/EkSNc03f9HBFX0rqX3Kw37+vjipi1pK3L9W08TZLhMg4Slk810sPLdJlNIjwygFw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css"
  integrity="sha512-uj2QCZdpo8PSbRGL/g5mXek6HM/APd7k/B5Hx/rkVFPNOxAQMXD+t+bG4Zv8OAdUpydZTU3UHmyjjiHv2Ww0PA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="stable-container">
  <mat-progress-bar
    mode="determinate"
    [value]="progressbarValue"
    *ngIf="loading"
  ></mat-progress-bar>

  <div class="input-button">
    <input placeholder="Enter your prompt" [(ngModel)]="prompt" />
    <div class="button" (click)="generateClick()">Generate image</div>
  </div>
  <div class="container-body" *ngIf="images.length < 1">
    <i [class.rotate-center]="loading === true" class="fa-solid fa-image"></i>
  </div>

  <div
    class="container-body"
    style="
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    "
    *ngIf="images.length > 0"
  >
    <img
      *ngFor="let image of images"
      src="data:image/jpeg;base64,{{ image }}"
    />
  </div>
</div>
